#base
APP_NAME=""

# Database
DATABASE_HOSTNAME=""
DATABASE_PORT=""
DATABASE_PASSWORD=""
DATABASE_NAME=""
DATABASE_USERNAME=""

# Security
SECRET_KEY=""
ALGORITHM=""
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_MINUTES=60
SESSION_EXPIRE_MINUTES=600
CSRF_TOKEN_LENGTH=30
REFRESH_TOKEN_LENGTH=30
PWD_CONTEXT_SCHEME=""

# CORS
CORS_ALLOW_ORIGINS=""
CORS_ALLOW_METHODS=""
CORS_ALLOW_HEADERS=""

# Sentry
SENTRY_DSN=""

# Google identity API
GOOGLE_OAUTH_CLIENT_ID=""
